<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar" style="background-color: #4285F4;" th:fragment="nav1">
    <div th:class="container">
        <a class="navbar-brand" style="text-align: center;display: block;margin: 0 auto;    color: #fff;" href="/"><strong th:text="#{AMS}">Navbar</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a th:href="@{/(lang='kh')}"><img style="    width: 38px;
    margin-right: 12px;" src="/images/kh.png" ></a>
        <a th:href="@{/(lang='en')}"><img src="/images/uk.png"  style="    width: 45px;"></a>
    </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar" style="background-color: #4285F4;" th:fragment="nav2">
    <div th:class="container">
        <a class="navbar-brand" href="/"><strong th:text="#{AMS}">Navbar</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Language
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/(lang='kh')}">Khmer</a>
                    <a class="dropdown-item" th:href="@{/(lang='en')}">English</a>
                </div>
            </li>
        </ul>
    </div>
</nav>